<h1 mat-dialog-title>Add Movie Form</h1>
<div mat-dialog-content>
    <form [formGroup]="movieForm">
        
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="movieName" matInput placeholder="Name">
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-select formControlName="category" placeholder="Category">
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Horror">Horror</mat-option>
            <mat-option value="Comedy">Comedy</mat-option>
            <mat-option value="Drama">Drama</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="Sci-Fi">Sci-Fi</mat-option>
            <mat-option value="Thriller">Thriller</mat-option>
            <mat-option value="Documentary">Documentary</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Intended period to watch</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Actors</mat-label>
        <textarea formControlName="actors" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Reviews</mat-label>
        <input formControlName="reviews" matInput placeholder="Name">
      </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
<button mat-raised-button color="primary" (click)="addMovie()">{{actionBtn}}</button>
<button style="margin-left: 10px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>